html {
  height: 100%;
  width: 100%;
}

body {
  background: conic-gradient(from 90deg at bottom right, cyan, rebeccapurple);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

* {
  font-family: 'Bariol';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 265px);
  gap: 15px;
  justify-content: space-around;
}

.wrapper li {
  list-style-type: none;
  background: white;
  height: 250px;
  border-radius: 5px;
  padding: 15px 20px 20px;
}

.add-box,
.icon,
.bottom-content,
.settings .menu li,
.popup,
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-box {
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.2s ease-in;
}

.add-box:hover {
  opacity: 1;
}

.add-box .icon {
  height: 78px;
  width: 78px;
  border: 2px dashed rebeccapurple;
  border-radius: 50%;
  color: rebeccapurple;
  font-size: 40px;
  justify-content: center;
}

.add-box p {
  color: rebeccapurple;
  font-weight: 500;
  margin-top: 20px;
}

.wrapper .note {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.note .details {
  max-height: 165px;
  overflow-y: auto;
}

.note p {
  font-size: 22px;
  font-weight: 500;
}

.note span {
  display: block;
  margin-top: 5px;
  color: #575757;
  font-size: 16px;
}

.note .bottom-content {
  padding-top: 10px;
  border-top: 1px solid #ccc;
}

.bottom-content span {
  color: #6d6d6d;
  font-size: 14px;
}

.bottom-content .settings i {
  color: #6d6d6d;
  font-size: 15px;
  cursor: pointer;
}

.settings {
  position: relative;
}

.settings .menu {
  position: absolute;
  bottom: 0;
  right: -5px;
  border-radius: 4px;
  padding: 5px 0;
  background: white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
  transform: scale(0);
  transform-origin: bottom right;
  transition: transform 0.2s ease;
}

.settings.show .menu {
  transform: scale(1);
}

.settings .menu li {
  height: 25px;
  border-radius: 0;
  justify-content: flex-start;
  cursor: pointer;
  font-size: 16px;
  padding: 17px 15px;
}

.menu li:hover {
  background: #f5f5f5;
}

.menu li i {
  padding-right: 8px;
}

.popup-box {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.4);
}

.popup-box .popup {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  max-width: 400px;
  width: 100%;
  justify-content: center;
  transform: translate(-50%, -50%);
}

.popup-box, 
.popup-box.popup {
  opacity: 0;
  pointer-events: none;
  transition: all 0.25s ease;
}

.popup-box.show, 
.popup-box.popup {
  opacity: 1;
  pointer-events: auto;
}

.popup .content {
  width: calc(100% - 15px);
  background: #fff;
  border-radius: 5px;

}

.popup .content header {
  padding: 15px 25px;
  border-bottom: 1px solid #ccc;
}

.content header p {
  font-weight: 500;
  font-size: 20px;
}

.content header i {
  color: #8b8989;
  cursor: pointer;
  font-size: 23px;
}

.content form {
  margin: 15px 25px 35px;
}

.content form .row {
  margin-bottom: 20px;
}

form .row label {
  display: block;
  font-size: 18px;
  margin-bottom: 6px;
}

.content form :where(input, textarea) {
  width: 100%;
  border: 1px solid #999;
  border-radius: 4px;
  outline: none;
  height: 50px;
  font-size: 17px;
  padding: 0 15px;
}

.content form textarea {
  height: 150px;
  resize: none;
  padding: 8px 15px;
}

.content form button {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  background: conic-gradient(from 90deg at bottom right, cyan, rebeccapurple);
  color: #fff;
  font-size: 17px;
  border-radius: 4px;
  cursor: pointer;
}
